{% extends 'custom_admin/base.html' %}
{% block content %}

{% include 'custom_admin/sidebar.html' %}


<div class="container mt-5">
    <div class="row ">
        <div class="col-lg-8 mx-auto">
    <div class="bg-secondary rounded h-100 p-4 ">
        <h6 class="mb-4">Responsive Table</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Banner Image</th>
                        <th scope="col">Banner Start Date</th>
                        <th scope="col">Banner End Date</th>
                        <th scope="col">Options</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    {% for product in banner %}
                    <tr>
                        <th scope="row">{{product.id}}</th>
                        
                        <td><img style="width:30px; height:30px" src="{{product.image.url}}"></td>
                        <td>{{product.start_date}}</td>
                        <td>{{product.end_date}}</td>
                        
                        <td><a href=" {% url  'update_banner' product.id  %}" class="btn btn-light">Update</a></td>
                        <td><a href="{% url 'delete_banner' product.id %}" class="btn btn-danger">Delete</a></td>
                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            
        </div>
    </div>
    <a href="add_banner" class="btn btn-primary">Add Banner</a>
    </div>
    </div>
    
    </div>


{% endblock %}