<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <style>
        .sidebar-hover:hover{
            background-color:#0394fc;
        }
    </style>
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
    <a
      href="{% url 'user_edit' %}"
      class="list-group-item list-group-item-action py-2 ripple sidebar-hover"
      aria-current="true"
    >
      <i class="fas fa-users fa-fw me-3"></i><span>User Profile</span>
    </a>
    <a href="{% url 'user_addresses' %}" class="list-group-item list-group-item-action py-2 ripple sidebar-hover">
      <i class="fas fa-building fa-fw me-3"></i><span>Address</span>
    </a>
    <a href="{% url 'cart' %}" class="list-group-item list-group-item-action py-2 ripple sidebar-hover"
      ><i class="fas fa-cart-plus fa-fw me-3"></i><span>Cart</span></a
    >
    <a href="{% url 'order-summary' %}" class="list-group-item list-group-item-action py-2 ripple sidebar-hover"
      ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a
    >
    <a href="{% url 'wishlist' %}" class="list-group-item list-group-item-action py-2 ripple sidebar-hover">
      <i class="fab fa-opencart fa-fw me-3"></i><span>WishList</span>
    </a>
    <a href="{% url 'wallet' %}" class="list-group-item list-group-item-action py-2 ripple sidebar-hover">
      <i class="fab fa-opencart fa-fw me-3"></i><span>Wallet</span>
    </a>
   
    </div>
    </div>
</nav>